<h1 class="fixed">Posts Page</h1>
<%- include('partials/head') %>
<%- include('partials/header') %>

<% if (posts.length > 0) { %>
<div class="posts-container">
    <% posts.forEach(function(post) { %>
    <div class="post-container">
        
        <div class="post-image">
             <!-- link  -->
            <a href="/posts/<%=post._id%>">
                <img src="<%= post.img %>" alt="<%= post.title %>" />
            </a>
        </div>
        <div class="post-title">
            <h3><%= post.title %></h3>
        </div>
        <div class="post-content">
            <p><%= post.content %></p>
        </div>
        <div class="post-footer">
            <p>Posted by you<%= post.firstName %> on <%= post.created %></p>
        </div>
    </div>
    <% }) %>
</div>
<% } %>